.bigGreen-Triangle {
  transform: translateX(15em) translateY(-1em) rotate(315deg);
  transition: transform 1s cubic-bezier(0.45, -1.12, 0.35, 1.78);
}

.bigBlue-Triangle {
  transform:translateX(8EM) translateY(-1em) rotate(135deg);
  transition: translateX(5em) translateY(1em) rotate(-45deg);
}

.pink-Triangle {
  transform:translateX(5em) translateY(4em) rotate(315deg) ;
  transition: transform 1s cubic-bezier(0.45, -1.12, 0.35, 1.78);
}

.purple-Square {
  transform: translateX(-3.7em) translateY(6em) rotate(45deg);
  transition: transform 1s cubic-bezier(0.45, -1.12, 0.35, 1.78);
}

.red-Parallelogram {
  transform: translateX(24.7rem) translateY(5em) rotate(360deg);
  transition: transform 1s cubic-bezier(0.45, -1.12, 0.35, 1.78);
}

.yellow-Triangle {
  transform:translateX(1.6em) translateY(7.7em) rotate(45deg);
  transition: transform 1s cubic-bezier(0.45, -1.12, 0.35, 1.78);
}
.orange-Triangle {
  transform:translateX(14em) translateY(2.5em) rotate(225DEG) ;
  transition: transform 1s cubic-bezier(0.45, -1.12, 0.35, 1.78);
}