.bigGreen-Triangle {
    transform: translateX(19em) translateY(2em) rotate(180deg);
    transition: transform 1s cubic-bezier(0.45, -1.12, 0.35, 1.78);
}

.red-Parallelogram {
    transform: translateX(25em) translateY(11em) rotate(100deg);
    transition: transform 1s cubic-bezier(0.45, -1.12, 0.35, 1.78);
}

.bigBlue-Triangle {
    transform: translateX(10.6em) translateY(-4.3em) rotate(45deg);
    transition: transform 1s cubic-bezier(0.45, -1.12, 0.35, 1.78);
}

.yellow-Triangle {
    transform: translateX(12.2em) translateY(11.1em) rotate(315deg);
    transition: transform 1s cubic-bezier(0.45, -1.12, 0.35, 1.78);
}

.purple-Square {
    transform: translateX(10.5em) translateY(-11.3em) rotate(45deg);
    transition: transform 1s cubic-bezier(0.45, -1.12, 0.35, 1.78);
}

.orange-Triangle {
    transform: translateX(7em) translateY(-14.8em) rotate(45deg);
    transition: transform 1s cubic-bezier(0.45, -1.12, 0.35, 1.78);
}
.pink-Triangle {
    transform: translateX(2.5em) translateY(-2.9em) rotate(360deg);
    transition: transform 1s cubic-bezier(0.45, -1.12, 0.35, 1.78);
}