.bigGreen-Triangle {
    transform: translateX(19em) translateY(11em) rotate(180deg);
    transition: transform 1s cubic-bezier(0.45, -1.12, 0.35, 1.78);
}

.red-Parallelogram {
    transform: translateX(24.9em) translateY(20em) rotate(100deg);
    transition: transform 1s cubic-bezier(0.45, -1.12, 0.35, 1.78);
}

.bigBlue-Triangle {
    transform: translateX(10.6em) translateY(4.6em) rotate(45deg);
    transition: transform 1s cubic-bezier(0.45, -1.12, 0.35, 1.78);
}

.yellow-Triangle {
    transform: translateX(12.2em) translateY(19.2em) rotate(315deg);
    transition: transform 1s cubic-bezier(0.45, -1.12, 0.35, 1.78);
}

.purple-Square {
    transform: translateX(10.5em) translateY(-2.4em) rotate(45deg);
    transition: transform 1s cubic-bezier(0.45, -1.12, 0.35, 1.78);
}

.orange-Triangle {
    transform: translateX(7em) translateY(-5.9em) rotate(45deg);
    transition: transform 1s cubic-bezier(0.45, -1.12, 0.35, 1.78);
}
.pink-Triangle {
    transform: translateX(2.5em) translateY(6em) rotate(360deg);
    transition: transform 1s cubic-bezier(0.45, -1.12, 0.35, 1.78);
}
@media (max-width: 1250px){
    .bigGreen-Triangle {
        transform: translateX(5.9em) translateY(-0.4em) rotate(180deg);
        transition: transform 1s cubic-bezier(0.45, -1.12, 0.35, 1.78);
    }
    
    .red-Parallelogram {
        transform: translateX(8.8em) translateY(4.1em) rotate(100deg);
        transition: transform 1s cubic-bezier(0.45, -1.12, 0.35, 1.78);
    }
    
    .bigBlue-Triangle {
        transform: translateX(1.7em) translateY(-3.6em) rotate(45deg);
        transition: transform 1s cubic-bezier(0.45, -1.12, 0.35, 1.78);
    }
    
    .yellow-Triangle {
        transform: translateX(2.5em) translateY(4.2em) rotate(315deg);
        transition: transform 1s cubic-bezier(0.45, -1.12, 0.35, 1.78);
    }
    
    .purple-Square {
        transform: translateX(1.7em) translateY(-7.2em) rotate(45deg);
        transition: transform 1s cubic-bezier(0.45, -1.12, 0.35, 1.78);
    }
    
    .orange-Triangle {
        transform: translateX(0em) translateY(-9em) rotate(45deg);
        transition: transform 1s cubic-bezier(0.45, -1.12, 0.35, 1.78);
    }
    .pink-Triangle {
        transform: translateX(-2.4em) translateY(-2.9em) rotate(360deg);
        transition: transform 1s cubic-bezier(0.45, -1.12, 0.35, 1.78);
    }
}
