.bigGreen-Triangle {
    transform: translateX(7em) translateY(0em) rotate(360deg);
    transition: transform 1s cubic-bezier(0.45, -1.12, 0.35, 1.78);
  }
  
.bigBlue-Triangle {
    transform: translateX(17em) translateY(0em) rotate(90deg);
    transition: transform 1s cubic-bezier(0.45, -1.12, 0.35, 1.78);
  }
  
.pink-Triangle {
    transform: translateX(7.4em) translateY(11.9em) rotate(180deg);
    transition: transform 1s cubic-bezier(0.45, -1.12, 0.35, 1.78);
  }
  
.purple-Square {
    transform: translateX(5em) translateY(7em) rotate(90deg);
    transition: transform 1s cubic-bezier(0.45, -1.12, 0.35, 1.78);
  }
  
.red-Parallelogram {
    transform: translateX(-3.8rem) translateY(4.5em) rotate(180deg);
    transition: transform 1s cubic-bezier(0.45, -1.12, 0.35, 1.78);
  }
  
.yellow-Triangle {
    transform: translateX(7.6em) translateY(17.1em) rotate(270deg);
    transition: transform 1s cubic-bezier(0.45, -1.12, 0.35, 1.78);
  }
  
.orange-Triangle {
    transform: translateX(17em) translateY(-5em) rotate(90deg);
    transition: transform 1s cubic-bezier(0.45, -1.12, 0.35, 1.78);
  }