.orange-Triangle {
  transform: translateX(-2.9em) translateY(-23em) rotate(45deg);
  transition: transform 1s cubic-bezier(0.45, -1.12, 0.35, 1.78);
}

.purple-Square {
  transform: translateX(-3em) translateY(-19.5em) rotate(135deg);
  transition: transform 1s cubic-bezier(0.45, -1.12, 0.35, 1.78);
}

.pink-Triangle {
  transform: translateX(-11.7em) translateY(-14.3em) rotate(225deg);
  transition: transform 1s cubic-bezier(0.45, -1.12, 0.35, 1.78);
}

.yellow-Triangle {
  transform: translateX(5.8em) translateY(-14.3em) rotate(225deg);
  transition: transform 1s cubic-bezier(0.45, -1.12, 0.35, 1.78);
}

.red-Parallelogram {
  transform: translateX(-2.3rem) translateY(-9.5em) rotate(286deg);
  transition: transform 1s cubic-bezier(0.45, -1.12, 0.35, 1.78);
}

.bigGreen-Triangle {
  transform: translateX(-6em) translateY(3em) rotate(135deg);
  transition: transform 1s cubic-bezier(0.45, -1.12, 0.35, 1.78);
}

.bigBlue-Triangle {
  transform: translateX(1.1em) translateY(3em) rotate(315deg);
  transition: transform 1s cubic-bezier(0.45, -1.12, 0.35, 1.78);
}

@media (max-width: 1250px) {
  .orange-Triangle {
    transform: translateX(-1.9em) translateY(-22em) rotate(45deg);
    transition: transform 1s cubic-bezier(0.45, -1.12, 0.35, 1.78);
}

.purple-Square {
    transform: translateX(-1.9em) translateY(-20.3em) rotate(135deg);
    transition: transform 1s cubic-bezier(0.45, -1.12, 0.35, 1.78);
}

.pink-Triangle {
    transform: translateX(-6.2em) translateY(-17.8em) rotate(225deg);
    transition: transform 1s cubic-bezier(0.45, -1.12, 0.35, 1.78);
}

.yellow-Triangle {
    transform: translateX(2.6em) translateY(-17.7em) rotate(225deg);
    transition: transform 1s cubic-bezier(0.45, -1.12, 0.35, 1.78);
}

.red-Parallelogram {
    transform: translateX(-1.6rem) translateY(-15.3em) rotate(286deg);
    transition: transform 1s cubic-bezier(0.45, -1.12, 0.35, 1.78);
}

.bigGreen-Triangle {
    transform: translateX(-3.4em) translateY(-9.1em) rotate(135deg);
    transition: transform 1s cubic-bezier(0.45, -1.12, 0.35, 1.78);
}

.bigBlue-Triangle {
    transform: translateX(0.1em) translateY(-9.1em) rotate(315deg);
    transition: transform 1s cubic-bezier(0.45, -1.12, 0.35, 1.78);
}
}